 <app-search (newslist)="updateNewslist($event)"></app-search>
<app-fav-list></app-fav-list>
<app-news-list [newslist]="newslist"></app-news-list>

 <div class="container">
<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3> Contact </h3>
          <ul>
            <li> <a href="#"> Home </a> </li>
            <li> <a href="#"> Shop</a> </li>
            <li> <a href="#"> Earth </a> </li>
            <li> <a href="#"> Travel </a> </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3> Important Links </h3>
          <ul>
            
            <li> <a href="#"> Academic </a> </li>
            <li> <a href="#"> Career </a> </li>
            <li> <a href="#"> Administration </a> </li>
            <li> <a href="#"> Tender </a> </li>
            <li> <a href="login.php"> Teacher Login </a> </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3> Location </h3>
          <ul>
            <li> <a href="#"> Live TV </a> </li>
            <li> <a href="#"> Weather </a> </li>
            <li> <a href="#"> Arts </a> </li>
            <li> <a href="#"> Day Today </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © 2017, News_18. All rights reserved.</p>
      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>
</div>
