<div class="container">
<!-- heading -->
<div class="page-header">
  <img class="img-responsive mainImage" src="../assets/newsimage.jpg">
    <h1><strong>NEWS_18</strong></h1>
</div>

<!--nav bar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">News_18</a>
<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
   <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#" (onClick)="showFavorites()">Favorites</a>
      </li> -->
    </ul> 

  <select name="search"#newsChannel>
      <option *ngFor="let news of post" #name [value]="news.id">
        {{news.name}}
      </option>
    </select>
  <a class="btn btn-outline-success my-2 my-sm-0" (click)="getDetails(newsChannel)">Search</a>
 </div>
</nav>
<!--nav bar end -->

  


 
 
 <!-- <div class="row">
   <div *ngIf="list">
     <div *ngFor="let lists of list">
       <ul>
         <li>{{lists.title}}</li>
         <button type="button" class="btn btn-outline-success">Edit</button>
         <button type="button" class="btn btn-outline-success">Delete</button>
         <button type="button" class="btn btn-outline-success" (click)="showFavAll()">Details</button>
       </ul>
     </div>
   </div>
  </div>  -->






 
  <!--   <div *ngFor="let item of news">
  <a href="{{item.url}}"> {{item.title}}</a>{{item.description}}<br>
  <img src="{{item.urlToImage}}" width="200px" height="300px">
  <hr>
  </div>
  </div> 
  </div> -->




    
    <!--<h1> Click Me </h1>
     <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> 
    
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    
    
    
       Wrapper for slides 
      <div class="carousel-inner">
    <div class="item active">
     <img class="img-responsive" src="../assets/bestnewsbuilding.png" alt="...">
      <div class="carousel-caption">
        One Image
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="../assets/page-news.jpg" alt="...">
      <div class="carousel-caption">
        Another Image
      </div>
    </div>
     <div class="item">
      <img class="img-responsive" src="../assets/newsbuildinghbsc.jpg" alt="...">
      <div class="carousel-caption">
        Another Image
      </div>
    </div>
      </div>
     Controls 
    <a class="left carousel-control" href="#carousel-example-generic" role="button" 
    data-slide ="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button"          data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

     </div>
    </div>
      </div>
    </div>
    </div>
    -->
      


